@import "../../../../styles/common";

.calendar__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
  color: $color-grey-dark;
  margin-bottom: 50px;
  margin-top: 65px;
  &__navigation {
    display: flex;
    justify-content: center;
    img {
      cursor: pointer;
      height: 20px;
      user-drag: none;
      user-select: none;
      transition: 250ms;
      &.left {
        transform: rotate(-90deg);
        margin-right: 40px;
      }
      &.right {
        transform: rotate(90deg);
        margin-left: 40px;
      }
      &.disabled {
        opacity: 0.25;
        pointer-events: none;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    min-width: 400px;
    color: $color-grey-dark;
    margin-bottom: 50px;
    margin-top: 20px;
    &__hours {
      display: flex;
      flex-direction: column;
      width: 100px;
      margin-top: 50px;
      &__field {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        font-size: 14px;
        background: $color-grey-light;
        margin: 6.25px 0;
        p {
          padding: 4px 0;
        }
        &:last-child {
          margin: 6.25px 0 0 0;
        }
      }
    }
    &__days__wrapper {
      &__outer {
        overflow: hidden;
      }
      &__inner {
        display: flex;
        width: fit-content;
        height: 100%;
        transition: 250ms;
      }
    }
    &__day {
      background: rgba($color-grey-light, 0.25);
      position: relative;
      width: 250px;
      min-width: 250px;
      margin-right: 15px;
      &__name {
        background: $color-grey-light;
        flex-direction: column;
        height: 56.25px;
      }
      &__blocks {
        position: relative;
        .block {
          flex-direction: column;
          position: absolute;
          width: 100%;
          text-align: center;
          color: #777;
          overflow: hidden;
          p {
            margin-bottom: 3px;
            &.title {
              font-size: 14px;
            }
            &.employee,
            &.time {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.theme-light .calendar__container__navigation img {
  filter: invert(16%) sepia(3%) saturate(5299%) hue-rotate(184deg)
    brightness(95%) contrast(86%);
}
.theme-dark .calendar__container__navigation img {
  filter: invert(1);
}
