@import "../../../../styles/common";

.calendar__container {
  display: flex;
  justify-content: center;
  min-width: 400px;
  color: $color-grey-dark;
  margin-bottom: 50px;
  margin-top: 20px;
  &__hours {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-top: 50px;
    &__field {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 75px;
      font-size: 14px;
      background: $color-grey-light;
      margin: 6.25px 0;
      p {
        padding: 4px 0;
      }
      &:last-child {
        margin: 6.25px 0 0 0;
      }
    }
  }
  &__day {
    background: rgba($color-grey-light, 0.5);
    position: relative;
    width: 250px;
    &__name {
      background: $color-grey-light;
      flex-direction: column;
      height: 56.25px;
    }
    &__blocks {
      position: relative;
      .block {
        flex-direction: column;
        position: absolute;
        width: 100%;
        text-align: center;
        color: #777;
        p {
          margin-bottom: 3px;
          &.title {
            font-size: 14px;
          }
          &.employee,
          &.time {
            font-size: 12px;
          }
        }
      }
    }
  }
}
