@import "../../../../styles/common";

.calendar__container {
  display: flex;
  justify-content: center;
  min-width: 400px;
  &__hours {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-top: 50px;
    &__field {
      height: 75px;
      font-size: 14px;
      background: $color-grey-light;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 6.25px 0;
      p {
        padding: 4px 0;
      }
    }
  }
  &__day {
    background: rgba($color-grey-light, 0.5);
    position: relative;
    width: 250px;
    &__name {
      background: $color-grey-light;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 56.25px;
    }
    &__blocks {
      position: relative;
      .block {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #777;
        p {
          margin-bottom: 3px;
        }
        p.title {
          font-size: 14px;
        }
        p.staff,
        p.time {
          font-size: 12px;
        }
      }
    }
  }
}
