@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "./common";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#root {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

body {
  transition: 250ms;
  &.theme-dark {
    background: $color-grey-dark;
    color: #fff;
  }
  &.theme-light {
    background: #fff;
    color: $color-grey-dark;
  }
}
