@import "../../../styles/common";

.error_container {
  position: fixed;
  bottom: -$footer-height;
  left: 0;
  width: 100%;
  height: $footer-height;
  background: $color-ferit-red;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: easeIn_easeOut 3900ms forwards;
  p {
    color: #fff;
    font-size: 16px;
  }

  @keyframes easeIn_easeOut {
    0% {
      bottom: -$footer-height;
    }
    15% {
      bottom: 0;
    }
    85% {
      bottom: 0;
    }
    100% {
      bottom: -$footer-height;
    }
  }
}
