@import "../../../../styles/common";

.auth__container {
  position: relative;
  width: 100vw;
  height: 100vh;
  &__inner {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 60vw;
    height: 75vh;
    box-shadow: #000 0px 0px 10px 0px;
    border-radius: 8px;
    &__content {
      position: relative;
      left: 20vw;
      height: 100%;
      width: 40vw;
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        h2 {
          margin-bottom: 50px;
        }
        div.inputs__container {
          display: flex;
          flex-direction: column;
          label {
            padding-bottom: 5px;
          }
          input {
            font-size: 20px;
            height: 50px;
            width: 300px;
            margin-bottom: 25px;
            padding: 5px 15px;
            border: rgba($color-grey-dark, 0.3) 1px solid;
            border-radius: 4px;
            transition: 300ms;
            &:focus {
              border: $color-ferit-blue 1px solid;
              box-shadow: inset 0px 0px 1px 0px;
            }
          }
        }
        button {
          display: block;
          height: 35px;
          padding: 8px;
          margin-top: 25px;
          background-color: #fff;
          border: $color-ferit-blue 1px solid;
          color: $color-ferit-blue;
          cursor: pointer;
          transition: 300ms;
          &:hover {
            color: #fff;
            background-color: $color-ferit-blue;
          }
        }
      }
    }
    &__additional {
      position: absolute;
      top: 0;
      left: 0;
      width: 20vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__text {
        padding-top: 50px;
        text-align: center;
        color: $color-grey-light;
        a {
          color: $color-grey-light;
        }
      }
    }
    img {
      display: block;
      max-width: 300px;
      max-height: 105px;
      width: auto;
      height: auto;
    }
  }
  .rectangle__background__outer {
    left: 0;
    position: absolute;
    z-index: -1;
    width: 40%;
    height: 100%;
    background: $color-grey-dark;
    top: 0;
    transition: 300ms;
  }
}
