@import "../../../styles/common";

.home__page {
  flex-direction: column;
  justify-content: space-evenly !important;
  &__title__container {
    font-size: 32px;
    img {
      width: 35px;
      margin-right: 15px;
    }
  }
  &__time__container {
    font-size: 26px;
    font-weight: bold;
    p {
      min-width: 242px;
    }
  }
}
