@import "../../../../styles/common";

.staff__info__overlay__container {
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: calc(100% - 95px);
  background: rgb($color-grey-light, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  animation: fadeInBottom 300ms ease-in-out;
  &__content {
    width: 50%;
    height: 20vh;
    background: $color-grey-light;
    color: $color-grey-dark;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    &__close__container {
      position: absolute;
      width: 40px;
      top: 20px;
      left: 20px;
      z-index: 10;
      img {
        cursor: pointer;
      }
    }
  }
}
